<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Armory Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="page-home">
    <header>
        <h1>Armory Dashboard</h1>
    </header>
    <main>
        <p>
            Welcome! Please select a Live Results URL, or enter your own.
        </p>
        <p>
            <form action="{{ url_for('live') }}" method="get">
                <label>Live Results URL: &nbsp;
                    <select name="results_url">
                        <option value="" selected disabled>-- Select One --</option>
                        <option value="http://escrimeresults.com/cobra/">Cobra</option>
                        <option value="http://escrimeresults.com/thrust/">Thrust</option>
                        <option value="http://njfencingresults.org/liveresults/">NJFencingResults.org</option>
                    </select>
                </label>
                <input type="submit" value="Go!">
            </form>
        </p>
        <p>
            <form action="{{ url_for('live') }}" method="get">
                <label>Other URL: &nbsp;
                    <input name="results_url" placeholder="http://example.com/liveresults">
                </label>
                <input type="submit" value="Go!">
            </form>
        </p>
    </main>
</body>
</html>
