<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Armory Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font: 14px sans-serif;
        }
        section {
            border-bottom: 1px dashed #aaa;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: .35em 0;
        }
        p, ul {
            margin: .25em 0;
        }
        a:link,
        a:active,
        a:visited {
            text-decoration: none;
            color: #000;
        }
        a:hover {
            text-decoration: underline;
            color: #000;
        }
    </style>
</head>
<body>
    <h1>{{tournament_name}}</h1>
    <h2>{{tournament_details}}</h2>
    <h2>{{events|length}} Events</h2>
    <hr>
    {% for e in events %}
    <section>
    <a name="{{e['name']}}">
    <h3><a href="#{{e['name']}}">{{e['name']}}</a></h3>
    <h4>{{e['time']}}</h4>
    <p>{{e['status']}}</p>
    {% if e['previously_fenced'] %}
    <p>{{e['previous_total']}} fencers have participated in prior events:</p>
    <ul>
    {% for pe in e['previously_fenced'] %}
        <li>{{pe}} - {{e['previously_fenced'][pe]}} fencers</li>
    {% endfor %}
    </ul>
    {% endif %}
    </section>
    {% endfor %}
</body>
</html>
