{% extends "base.html" %}
{% block extra_head %}
    <meta http-equiv="refresh" content="60; URL={{ request.url }}">
{% endblock extra_head %}
{% block content %}
    <header>
        <span class="back-to-home"><a href="{{ url_for('index') }}">Back to Home</a></span>
        <h1>{{ tournament.name }} - {{ events | length }} events
            <a href="{{ tournament.url }}" target="_blank">
                <img class="ext-link" src="{{ url_for('static', filename='images/font-awesome/external-link-alt.svg') }}?t=20180415"></a></h1>
    </header>
    <main>
    {% for e in events %}
    <section class="status-{{ e['status']|lower }}">
    <header>
        <div class="status">{{ e['status']|lower }}</div>
        <div class="event-actions">
            <a href="{{ e.url }}" target="_blank">
                <img class="ext-link" src="{{ url_for('static', filename='images/font-awesome/external-link-alt.svg') }}?t=20180415"></a>
        </div>
        <div class="name">
            <a name="{{ e['name'] }}" href="#{{ e['name'] }}">{{ e['name'] }}</a>
        </div>
        <div class="time">{{ e['time'] }}</div>
    </header>
    <p><span class="number">{{ e['fencers_checked_in'] | length }}</span> of <span class="number">{{ e['fencers'] | length }}</span> fencer(s) checked in.</p>
    {% if e['previously_fenced'] %}
    <p><span class="number">{{ e['previous_total'] }}</span> fenced in prior events:</p>
    <ul>
    {% for pe in e['previously_fenced'] %}
        <li>{{ pe }} - {{ e['previously_fenced'][pe] }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if e['new_fencers_not_checked_in'] %}
    <p class="hl">{{ e['new_fencers_not_checked_in'] | length }} new and not checked in</p>
    {% endif %}
    </section>
    {% endfor %}
    </main>
    <footer>
    {% if tournament.updated %}
        <div class="updated">Last updated: <span class="date">{{ tournament.updated }}</span></div>
    {% endif %}
    </footer>
{% endblock content %}
